.container {
    background-color: #f6f6f6;
}
.topExplanation {
    margin-top: 10px;
}
.fab {
    margin-left: auto;
    margin-right: 10px;
}
.topBox{
    margin-top: 10px;
    margin-bottom: 10px;
}
